[submodule "1/shen_edward"]
	path = 1/shen_edward
	url = https://github.com/edwardshen123/homework
[submodule "1/gelb_joseph"]
	path = 1/gelb_joseph
	url = https://github.com/jgelb/Homework
[submodule "2/zhang_dillon"]
	path = 2/zhang_dillon
	url = https://github.com/dillzhang/CS-HW
[submodule "2/roumie_yasmeen"]
	path = 2/roumie_yasmeen
	url = https://github.com/y4smeen/APCSHW
[submodule "1/shin_jason"]
	path = 1/shin_jason
	url = https://github.com/jashinxd/apcs-hw
[submodule "1/barbanel_daisy"]
	path = 1/barbanel_daisy
	url = https://github.com/daisyb/apHw
[submodule "2/bao_sally"]
	path = 2/bao_sally
	url = https://github.com/sallybao29/APCS-HW
[submodule "1/elliott_jesse"]
	path = 1/elliott_jesse
	url = https://github.com/jelliott37/APCSHW
[submodule "1/cheng_leon"]
	path = 1/cheng_leon
	url = https://github.com/leoncheng57/APCS-Homework
[submodule "2/jay_aaron"]
	path = 2/jay_aaron
	url = https://github.com/julianjay/AP-CS-Homework
[submodule "2/wu_dalton"]
	path = 2/wu_dalton
	url = https://github.com/daltonwu/apcs-hw
[submodule "2/wu_javis"]
	path = 2/wu_javis
	url = https://github.com/daimyowk/APCS-HW
[submodule "1/wong_lian"]
	path = 1/wong_lian
	url = https://github.com/roguester18/APCSHW
[submodule "2/tu_ryan"]
	path = 2/tu_ryan
	url = https://github.com/RyanTu/APCS-HW
[submodule "1/yu_rong"]
	path = 1/yu_rong
	url = https://github.com/RongYu98/APCS-HW
[submodule "1/li_tommy"]
	path = 1/li_tommy
	url = https://github.com/tli123/APCS-HW
[submodule "1/lui_derrick"]
	path = 1/lui_derrick
	url = https://github.com/dlui220/apcshw
[submodule "1/yang_nicholas"]
	path = 1/yang_nicholas
	url = https://github.com/NicholasLYang/HomeworkRepo
[submodule "1/filosa_henry"]
	path = 1/filosa_henry
	url = https://github.com/hfilosa/Homework
[submodule "1/shu_shi"]
	path = 1/shu_shi
	url = https://github.com/shishu1998/APCS-HW
[submodule "2/wong_thomas"]
	path = 2/wong_thomas
	url = https://github.com/SomeoneYouMightKnow/hw
[submodule "1/stanton_caitlin"]
	path = 1/stanton_caitlin
	url = https://github.com/caitlinstanton/apcshomework
[submodule "1/mejia_kevin"]
	path = 1/mejia_kevin
	url = https://github.com/kmejia/APCShw
[submodule "1/ma_fanny"]
	path = 1/ma_fanny
	url = https://github.com/fannyma38/apcshw
[submodule "1/thaper_pooneet"]
	path = 1/thaper_pooneet
	url = https://github.com/pooneetthaper/Apcs-hw
[submodule "2/so_johnny"]
	path = 2/so_johnny
	url = https://github.com/jso123450/APCS-Z-Homework
[submodule "2/lei_xiuzhen"]
	path = 2/lei_xiuzhen
	url = https://github.com/TiffL/HW
[submodule "2/islam_pranab"]
	path = 2/islam_pranab
	url = https://github.com/pranabislam/APCS_HW
[submodule "2/leung_sammi"]
	path = 2/leung_sammi
	url = https://github.com/sammiWL/hw
[submodule "1/cheng_ethan"]
	path = 1/cheng_ethan
	url = https://github.com/elc1798/apcs-z-hw-pd1
[submodule "2/wang_yicheng"]
	path = 2/wang_yicheng
	url = https://github.com/alex-wyc/APCS_HW
[submodule "1/locker_jeanne"]
	path = 1/locker_jeanne
	url = https://github.com/jlox/apcshw
[submodule "1/chan_serena"]
	path = 1/chan_serena
	url = https://github.com/serenadipity/apcs-homework
[submodule "1/chen_sarah"]
	path = 1/chen_sarah
	url = https://github.com/sarahchen/apcs-hw
[submodule "1/xu_emily"]
	path = 1/xu_emily
	url = https://github.com/Emilyxu828/APCS-Homework
[submodule "1/chan_angela"]
	path = 1/chan_angela
	url = https://github.com/angelachan64/APCS-Homework
[submodule "2/moon_remi"]
	path = 2/moon_remi
	url = https://github.com/remimoon/APCS-hw
[submodule "2/waksbaum_jake"]
	path = 2/waksbaum_jake
	url = https://github.com/jbaum98/apcs_hw
[submodule "2/fishelson_max"]
	path = 2/fishelson_max
	url = https://github.com/Fishelstix/hw
[submodule "2/mattson_michael"]
	path = 2/mattson_michael
	url = https://github.com/mmattson22/apcs-hw
[submodule "2/holmes_david"]
	path = 2/holmes_david
	url = https://github.com/DavidHolmes0/apcsHw
[submodule "2/small_tyler"]
	path = 2/small_tyler
	url = https://github.com/TylerSmall/APCS-hw
[submodule "1/cho_lulu"]
	path = 1/cho_lulu
	url = https://github.com/lulublue98/Homework
[submodule "1/ye_melissa"]
	path = 1/ye_melissa
	url = https://github.com/Melisssssssssa/APCS-Homework
[submodule "2/hasan_zafir"]
	path = 2/hasan_zafir
	url = https://github.com/zafirhsn/apcs_hw
[submodule "1/tan_victor"]
	path = 1/tan_victor
	url = https://github.com/Vtan1/apcs-homework
[submodule "2/fan_edward"]
	path = 2/fan_edward
	url = https://github.com/Revalucien/hw
[submodule "1/redozubov_gregory"]
	path = 1/redozubov_gregory
	url = https://github.com/Gredoz/APCS-Homework
[submodule "1/hatzimemos_aristides"]
	path = 1/hatzimemos_aristides
	url = https://github.com/ahatzi/APCS-HW
[submodule "1/yee_winton"]
	path = 1/yee_winton
	url = https://github.com/blehw/hw-apcs
[submodule "2/yan_kevin"]
	path = 2/yan_kevin
	url = https://github.com/GuyWithTheGlasses/APCShw
